USE [Fashion_Shop_Online]
GO
/****** Object:  Table [dbo].[Blog]    Script Date: 10/16/2023 10:27:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Blog](
	[blog_id] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](max) NULL,
	[author_id] [int] NULL,
	[updated_date] [date] NULL,
	[content] [nvarchar](max) NULL,
	[thumbnail] [nvarchar](max) NULL,
	[brief_infor] [nvarchar](max) NULL,
	[categoryBlog_id] [int] NULL,
	[status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[blog_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cart]    Script Date: 10/16/2023 10:27:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cart](
	[cart_id] [int] IDENTITY(1,1) NOT NULL,
	[product_id] [int] NULL,
	[product_name] [nvarchar](255) NULL,
	[product_price] [int] NULL,
	[quantity] [int] NULL,
	[total_cost] [int] NULL,
	[user_id] [int] NULL,
 CONSTRAINT [PK__Cart__2EF52A27C8B076D3] PRIMARY KEY CLUSTERED 
(
	[cart_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 10/16/2023 10:27:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[category_id] [int] IDENTITY(1,1) NOT NULL,
	[category_name] [nvarchar](50) NULL,
	[status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category_Blog]    Script Date: 10/16/2023 10:27:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category_Blog](
	[categoryBlog_id] [int] IDENTITY(1,1) NOT NULL,
	[categoryBlog_name] [nvarchar](50) NULL,
	[status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[categoryBlog_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 10/16/2023 10:27:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[customer_id] [int] IDENTITY(1,1) NOT NULL,
	[customer_name] [nvarchar](50) NULL,
	[customer_email] [varchar](50) NULL,
	[customer_mobile] [varchar](50) NULL,
	[updated_date] [date] NULL,
	[status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[customer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Feedback]    Script Date: 10/16/2023 10:27:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feedback](
	[feedBack_id] [int] IDENTITY(1,1) NOT NULL,
	[fullName] [nvarchar](50) NULL,
	[rated_star] [float] NULL,
	[feedback] [nvarchar](max) NULL,
	[image] [nvarchar](max) NULL,
	[status] [bit] NULL,
	[product_id] [int] NULL,
	[userId] [int] NULL,
	[date] [date] NULL,
 CONSTRAINT [PK__Feedback__7012E843FBF9D24D] PRIMARY KEY CLUSTERED 
(
	[feedBack_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 10/16/2023 10:27:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[order_id] [int] IDENTITY(1,1) NOT NULL,
	[orderDate] [date] NULL,
	[total_cost] [int] NULL,
	[fullName] [nvarchar](50) NULL,
	[mobile] [varchar](50) NULL,
	[address] [nvarchar](255) NULL,
	[status_order] [int] NULL,
	[userId] [int] NULL,
	[saler_id] [int] NULL,
	[note] [nvarchar](255) NULL,
 CONSTRAINT [PK__Order__46596229CBCF2098] PRIMARY KEY CLUSTERED 
(
	[order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order_Detail]    Script Date: 10/16/2023 10:27:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order_Detail](
	[orderDetail_id] [int] IDENTITY(1,1) NOT NULL,
	[product_price] [int] NULL,
	[quantity] [int] NULL,
	[order_id] [int] NULL,
	[product_id] [int] NULL,
	[product_name] [nvarchar](255) NULL,
	[total_cost] [int] NULL,
 CONSTRAINT [PK__Order_De__317953247CDC0CB7] PRIMARY KEY CLUSTERED 
(
	[orderDetail_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 10/16/2023 10:27:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[product_id] [int] IDENTITY(1,1) NOT NULL,
	[product_name] [nvarchar](255) NULL,
	[original_prices] [int] NULL,
	[sale_prices] [int] NULL,
	[product_details] [nvarchar](max) NULL,
	[brief_infor] [nvarchar](255) NULL,
	[status] [bit] NULL,
	[quantity] [int] NULL,
	[category_id] [int] NULL,
	[update_date] [date] NULL,
 CONSTRAINT [PK__Product__47027DF56173B414] PRIMARY KEY CLUSTERED 
(
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products_Images]    Script Date: 10/16/2023 10:27:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products_Images](
	[products_images_id] [int] IDENTITY(1,1) NOT NULL,
	[product_id] [int] NULL,
	[images] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[products_images_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 10/16/2023 10:27:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[role_id] [int] IDENTITY(1,1) NOT NULL,
	[role_name] [varchar](50) NOT NULL,
	[status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Setting]    Script Date: 10/16/2023 10:27:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Setting](
	[setting_id] [int] IDENTITY(1,1) NOT NULL,
	[type] [int] NULL,
	[order] [int] NULL,
	[value] [nvarchar](50) NULL,
	[description] [nvarchar](50) NULL,
	[status] [bit] NULL,
 CONSTRAINT [PK_Setting] PRIMARY KEY CLUSTERED 
(
	[setting_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Setting_Type]    Script Date: 10/16/2023 10:27:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Setting_Type](
	[setting_type_id] [int] NOT NULL,
	[setting_type_name] [nvarchar](50) NULL,
 CONSTRAINT [PK_Setting_Type] PRIMARY KEY CLUSTERED 
(
	[setting_type_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Slider]    Script Date: 10/16/2023 10:27:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Slider](
	[slider_id] [int] IDENTITY(1,1) NOT NULL,
	[slider_title] [nvarchar](50) NULL,
	[slider_image] [varchar](max) NULL,
	[backlink] [varchar](max) NULL,
	[note] [nvarchar](255) NULL,
	[status] [bit] NULL,
	[updated_by] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[slider_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Status_Order]    Script Date: 10/16/2023 10:27:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Status_Order](
	[status_order_id] [int] IDENTITY(1,1) NOT NULL,
	[status_name] [nvarchar](50) NULL,
	[status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[status_order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Update_Customer]    Script Date: 10/16/2023 10:27:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Update_Customer](
	[updateCustomer_id] [int] IDENTITY(1,1) NOT NULL,
	[customer_id] [int] NULL,
	[email] [varchar](50) NULL,
	[fullName] [nvarchar](50) NULL,
	[mobile] [varchar](50) NULL,
	[update_date] [date] NULL,
	[update_by] [int] NULL,
 CONSTRAINT [PK__Update_C__2548BA6437B9A8B3] PRIMARY KEY CLUSTERED 
(
	[updateCustomer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 10/16/2023 10:27:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[userId] [int] IDENTITY(1,1) NOT NULL,
	[fullName] [nvarchar](50) NULL,
	[password] [varchar](50) NULL,
	[avatar] [varchar](max) NULL,
	[gender] [bit] NULL,
	[email] [varchar](50) NULL,
	[mobile] [varchar](50) NULL,
	[address] [nvarchar](255) NULL,
	[status] [bit] NULL,
	[role_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[userId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Blog] ON 

SET IDENTITY_INSERT [dbo].[Blog] OFF
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([category_id], [category_name], [status]) VALUES (1, N'T-Shirt', 1)
INSERT [dbo].[Category] ([category_id], [category_name], [status]) VALUES (2, N'Balo', 1)
INSERT [dbo].[Category] ([category_id], [category_name], [status]) VALUES (3, N'Crossbody Bag', 1)
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
SET IDENTITY_INSERT [dbo].[Category_Blog] ON 

INSERT [dbo].[Category_Blog] ([categoryBlog_id], [categoryBlog_name], [status]) VALUES (1, N'Hiểu nhanh về', 1)
INSERT [dbo].[Category_Blog] ([categoryBlog_id], [categoryBlog_name], [status]) VALUES (2, N'Mặc đẹp', 1)
INSERT [dbo].[Category_Blog] ([categoryBlog_id], [categoryBlog_name], [status]) VALUES (3, N'Sống chất', 1)
SET IDENTITY_INSERT [dbo].[Category_Blog] OFF
GO
SET IDENTITY_INSERT [dbo].[Customer] ON 

INSERT [dbo].[Customer] ([customer_id], [customer_name], [customer_email], [customer_mobile], [updated_date], [status]) VALUES (1, N'Nguyễn Trí Sơn ', N'son1@gmail.com', N'0352212601', CAST(N'2022-07-07' AS Date), 1)
INSERT [dbo].[Customer] ([customer_id], [customer_name], [customer_email], [customer_mobile], [updated_date], [status]) VALUES (2, N'Minh Đức', N'ducnhmhe151166@fpt.edu.vn', N'0968026928', CAST(N'2022-07-08' AS Date), 1)
INSERT [dbo].[Customer] ([customer_id], [customer_name], [customer_email], [customer_mobile], [updated_date], [status]) VALUES (3, N'Bùi Văn Hải', N'ducnhmhe151167@fpt.edu.vn', N'0968026929', CAST(N'2022-07-08' AS Date), 1)
SET IDENTITY_INSERT [dbo].[Customer] OFF
GO
SET IDENTITY_INSERT [dbo].[Feedback] ON 

INSERT [dbo].[Feedback] ([feedBack_id], [fullName], [rated_star], [feedback], [image], [status], [product_id], [userId], [date]) VALUES (1, N'Đỗ Trung Khang', 4, N'good product', N'images/product/8.jpg', 0, 2, 11, CAST(N'2022-06-28' AS Date))
INSERT [dbo].[Feedback] ([feedBack_id], [fullName], [rated_star], [feedback], [image], [status], [product_id], [userId], [date]) VALUES (23, N'Trần Chấn Duy', 5, N'Nice T-Shirt, verry good', N'images/feedback/.-..jpg', 1, 1, 1, CAST(N'2023-10-16' AS Date))
SET IDENTITY_INSERT [dbo].[Feedback] OFF
GO
SET IDENTITY_INSERT [dbo].[Order] ON 

INSERT [dbo].[Order] ([order_id], [orderDate], [total_cost], [fullName], [mobile], [address], [status_order], [userId], [saler_id], [note]) VALUES (60, CAST(N'2023-10-16' AS Date), 558000, N'Trần Chấn Duy', N'0367478998', N'Vĩnh Long', 1, 1, 22, N'')
INSERT [dbo].[Order] ([order_id], [orderDate], [total_cost], [fullName], [mobile], [address], [status_order], [userId], [saler_id], [note]) VALUES (61, CAST(N'2023-10-16' AS Date), 259000, N'Trần Chấn Duy', N'0367478998', N'Vĩnh Long', 1, 1, 19, N'')
INSERT [dbo].[Order] ([order_id], [orderDate], [total_cost], [fullName], [mobile], [address], [status_order], [userId], [saler_id], [note]) VALUES (62, CAST(N'2023-10-16' AS Date), 249000, N'Trần Chấn Duy', N'0367478998', N'Vĩnh Long', 1, 1, 23, N'')
SET IDENTITY_INSERT [dbo].[Order] OFF
GO
SET IDENTITY_INSERT [dbo].[Order_Detail] ON 

INSERT [dbo].[Order_Detail] ([orderDetail_id], [product_price], [quantity], [order_id], [product_id], [product_name], [total_cost]) VALUES (69, 279000, 2, 60, 2, N'CUPID TEE', 558000)
INSERT [dbo].[Order_Detail] ([orderDetail_id], [product_price], [quantity], [order_id], [product_id], [product_name], [total_cost]) VALUES (70, 259000, 1, 61, 8, N'WE RUN THE STREET', 259000)
INSERT [dbo].[Order_Detail] ([orderDetail_id], [product_price], [quantity], [order_id], [product_id], [product_name], [total_cost]) VALUES (71, 249000, 4, 62, 6, N'RIDEFORMENTALHEALTH', 249000)
SET IDENTITY_INSERT [dbo].[Order_Detail] OFF
GO
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([product_id], [product_name], [original_prices], [sale_prices], [product_details], [brief_infor], [status], [quantity], [category_id], [update_date]) VALUES (1, N'BIKE LIFE TO THE MOON', 199000, 155000, N'High-quality Vietnamese products.', N'Good product', 1, 88, 1, CAST(N'2023-10-01' AS Date))
INSERT [dbo].[Product] ([product_id], [product_name], [original_prices], [sale_prices], [product_details], [brief_infor], [status], [quantity], [category_id], [update_date]) VALUES (2, N'CUPID TEE', 299000, 279000, N'High-quality Vietnamese products.', N'Good product', 1, 72, 1, CAST(N'2023-10-01' AS Date))
INSERT [dbo].[Product] ([product_id], [product_name], [original_prices], [sale_prices], [product_details], [brief_infor], [status], [quantity], [category_id], [update_date]) VALUES (3, N'DDOCO', 299000, 229000, N'High-quality Vietnamese products.', N'Good product', 1, 94, 1, CAST(N'2023-10-01' AS Date))
SET IDENTITY_INSERT [dbo].[Product] OFF
GO
SET IDENTITY_INSERT [dbo].[Products_Images] ON 

INSERT [dbo].[Products_Images] ([products_images_id], [product_id], [images]) VALUES (1, 1, N'images/product/p1.jpg')
INSERT [dbo].[Products_Images] ([products_images_id], [product_id], [images]) VALUES (2, 2, N'images/product/p2.jpg')
INSERT [dbo].[Products_Images] ([products_images_id], [product_id], [images]) VALUES (3, 3, N'images/product/p3.jpg')
SET IDENTITY_INSERT [dbo].[Products_Images] OFF
GO
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([role_id], [role_name], [status]) VALUES (1, N'customer', 1)
INSERT [dbo].[Role] ([role_id], [role_name], [status]) VALUES (2, N'marketing', 1)
INSERT [dbo].[Role] ([role_id], [role_name], [status]) VALUES (3, N'sale', 1)
SET IDENTITY_INSERT [dbo].[Role] OFF
GO
SET IDENTITY_INSERT [dbo].[Setting] ON 

INSERT [dbo].[Setting] ([setting_id], [type], [order], [value], [description], [status]) VALUES (1, 1, 1, N'T-Shirt', N'Danh mục áo', 1)
INSERT [dbo].[Setting] ([setting_id], [type], [order], [value], [description], [status]) VALUES (2, 1, 2, N'Quần', N'Danh mục quần', 1)
INSERT [dbo].[Setting] ([setting_id], [type], [order], [value], [description], [status]) VALUES (3, 1, 3, N'Quần lót', N'Danh mục quần lót', 1)
SET IDENTITY_INSERT [dbo].[Setting] OFF
GO
INSERT [dbo].[Setting_Type] ([setting_type_id], [setting_type_name]) VALUES (1, N'Danh mục sản phẩm')
INSERT [dbo].[Setting_Type] ([setting_type_id], [setting_type_name]) VALUES (2, N'Danh mục bài viết')
INSERT [dbo].[Setting_Type] ([setting_type_id], [setting_type_name]) VALUES (3, N'Trạng thái đơn hàng')
GO
SET IDENTITY_INSERT [dbo].[Slider] ON 

INSERT [dbo].[Slider] ([slider_id], [slider_title], [slider_image], [backlink], [note], [status], [updated_by]) VALUES (1, N'Dòng sản phẩm công nghệ EXCOOL', N'images/slider/292205368_777301686792519_1992912863732817761_n.jpg', N'http://localhost:8080/fashion-shop-online/list-detail?productId=2&categoryId=1', NULL, 0, NULL)
INSERT [dbo].[Slider] ([slider_id], [slider_title], [slider_image], [backlink], [note], [status], [updated_by]) VALUES (2, N'New Store', N'images/slider/s2.jpg', N'http://localhost:8080/fashion-shop-online/blogDetail?blog_id=36&categoryBlog_id=4', NULL, 1, NULL)
INSERT [dbo].[Slider] ([slider_id], [slider_title], [slider_image], [backlink], [note], [status], [updated_by]) VALUES (3, N'Góp phần vì một Việt Nam xanh', N'images/slider/3.png', N'http://localhost:8080/fashion-shop-online/blogDetail?blog_id=40&categoryBlog_id=4', NULL, 0, NULL)
SET IDENTITY_INSERT [dbo].[Slider] OFF
GO
SET IDENTITY_INSERT [dbo].[Status_Order] ON 

INSERT [dbo].[Status_Order] ([status_order_id], [status_name], [status]) VALUES (1, N'Sending', 1)
INSERT [dbo].[Status_Order] ([status_order_id], [status_name], [status]) VALUES (2, N'Success', 1)
INSERT [dbo].[Status_Order] ([status_order_id], [status_name], [status]) VALUES (3, N'Cancelled', 1)
SET IDENTITY_INSERT [dbo].[Status_Order] OFF
GO
SET IDENTITY_INSERT [dbo].[Update_Customer] ON 

INSERT [dbo].[Update_Customer] ([updateCustomer_id], [customer_id], [email], [fullName], [mobile], [update_date], [update_by]) VALUES (1, 16, N'truongt12dd@gmail.com', N'Trung Vũ jj', N'0232142112', CAST(N'2022-07-19' AS Date), 15)
INSERT [dbo].[Update_Customer] ([updateCustomer_id], [customer_id], [email], [fullName], [mobile], [update_date], [update_by]) VALUES (2, 16, N'truongt12dd@gmail.com', N'Trung Vũ', N'0232142112', CAST(N'2022-07-19' AS Date), 15)
INSERT [dbo].[Update_Customer] ([updateCustomer_id], [customer_id], [email], [fullName], [mobile], [update_date], [update_by]) VALUES (3, 15, N'truongt19@gmail.com', N'Nguyễn Trí Trường Sơn ', N'012345333', CAST(N'2022-07-19' AS Date), 15)
SET IDENTITY_INSERT [dbo].[Update_Customer] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([userId], [fullName], [password], [avatar], [gender], [email], [mobile], [address], [status], [role_id]) VALUES (1, N'Trần Chấn Duy', N'202cb962ac59075b964b07152d234b70', N'', 1, N'chanduytran1@gmail.com', N'0367478998', N'Vĩnh Long', 1, 1)
INSERT [dbo].[User] ([userId], [fullName], [password], [avatar], [gender], [email], [mobile], [address], [status], [role_id]) VALUES (2, N'Trần Chấn Lợi', N'202cb962ac59075b964b07152d234b70', N'', 1, N'chanduytran2@gmail.com', N'0367478998', N'Cần Thơ', 1, 1)
INSERT [dbo].[User] ([userId], [fullName], [password], [avatar], [gender], [email], [mobile], [address], [status], [role_id]) VALUES (5, N'Trần Chấn Thống', N'202cb962ac59075b964b07152d234b70', N'', 1, N'chanduytran3@gmail.com', N'0367478998', N'Sóc Trăng', 1, 1)
SET IDENTITY_INSERT [dbo].[User] OFF
GO
ALTER TABLE [dbo].[Blog] ADD  CONSTRAINT [DF_Blog_updated_date]  DEFAULT (getdate()) FOR [updated_date]
GO
ALTER TABLE [dbo].[Customer] ADD  CONSTRAINT [DF_Customer_updated_date]  DEFAULT (getdate()) FOR [updated_date]
GO
ALTER TABLE [dbo].[Feedback] ADD  CONSTRAINT [DF_Feedback_date]  DEFAULT (getdate()) FOR [date]
GO
ALTER TABLE [dbo].[Order] ADD  CONSTRAINT [DF_Order_orderDate]  DEFAULT (getdate()) FOR [orderDate]
GO
ALTER TABLE [dbo].[Product] ADD  CONSTRAINT [DF_Product_update_date]  DEFAULT (getdate()) FOR [update_date]
GO
ALTER TABLE [dbo].[Update_Customer] ADD  CONSTRAINT [DF_Update_Customer_update_date]  DEFAULT (getdate()) FOR [update_date]
GO
ALTER TABLE [dbo].[Blog]  WITH CHECK ADD FOREIGN KEY([categoryBlog_id])
REFERENCES [dbo].[Category_Blog] ([categoryBlog_id])
GO
ALTER TABLE [dbo].[Cart]  WITH CHECK ADD  CONSTRAINT [FK__Cart__product_id__05D8E0BE] FOREIGN KEY([product_id])
REFERENCES [dbo].[Product] ([product_id])
GO
ALTER TABLE [dbo].[Cart] CHECK CONSTRAINT [FK__Cart__product_id__05D8E0BE]
GO
ALTER TABLE [dbo].[Cart]  WITH CHECK ADD  CONSTRAINT [FK__Cart__user_id__06CD04F7] FOREIGN KEY([user_id])
REFERENCES [dbo].[User] ([userId])
GO
ALTER TABLE [dbo].[Cart] CHECK CONSTRAINT [FK__Cart__user_id__06CD04F7]
GO
ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD  CONSTRAINT [FK__Feedback__produc__3F466844] FOREIGN KEY([product_id])
REFERENCES [dbo].[Product] ([product_id])
GO
ALTER TABLE [dbo].[Feedback] CHECK CONSTRAINT [FK__Feedback__produc__3F466844]
GO
ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD  CONSTRAINT [FK__Feedback__userId__403A8C7D] FOREIGN KEY([userId])
REFERENCES [dbo].[User] ([userId])
GO
ALTER TABLE [dbo].[Feedback] CHECK CONSTRAINT [FK__Feedback__userId__403A8C7D]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK__Order__status_or__76969D2E] FOREIGN KEY([status_order])
REFERENCES [dbo].[Status_Order] ([status_order_id])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK__Order__status_or__76969D2E]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK__Order__userId__412EB0B6] FOREIGN KEY([userId])
REFERENCES [dbo].[User] ([userId])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK__Order__userId__412EB0B6]
GO
ALTER TABLE [dbo].[Order_Detail]  WITH CHECK ADD  CONSTRAINT [FK__Order_Det__order__4222D4EF] FOREIGN KEY([order_id])
REFERENCES [dbo].[Order] ([order_id])
GO
ALTER TABLE [dbo].[Order_Detail] CHECK CONSTRAINT [FK__Order_Det__order__4222D4EF]
GO
ALTER TABLE [dbo].[Order_Detail]  WITH CHECK ADD  CONSTRAINT [FK__Order_Det__produ__4316F928] FOREIGN KEY([product_id])
REFERENCES [dbo].[Product] ([product_id])
GO
ALTER TABLE [dbo].[Order_Detail] CHECK CONSTRAINT [FK__Order_Det__produ__4316F928]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK__Product__categor__440B1D61] FOREIGN KEY([category_id])
REFERENCES [dbo].[Category] ([category_id])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK__Product__categor__440B1D61]
GO
ALTER TABLE [dbo].[Products_Images]  WITH CHECK ADD  CONSTRAINT [FK__Products___produ__46E78A0C] FOREIGN KEY([product_id])
REFERENCES [dbo].[Product] ([product_id])
GO
ALTER TABLE [dbo].[Products_Images] CHECK CONSTRAINT [FK__Products___produ__46E78A0C]
GO
ALTER TABLE [dbo].[Setting]  WITH CHECK ADD FOREIGN KEY([type])
REFERENCES [dbo].[Setting_Type] ([setting_type_id])
GO
ALTER TABLE [dbo].[Setting]  WITH CHECK ADD  CONSTRAINT [FK_Setting_Setting] FOREIGN KEY([setting_id])
REFERENCES [dbo].[Setting] ([setting_id])
GO
ALTER TABLE [dbo].[Setting] CHECK CONSTRAINT [FK_Setting_Setting]
GO
ALTER TABLE [dbo].[Slider]  WITH CHECK ADD FOREIGN KEY([updated_by])
REFERENCES [dbo].[User] ([userId])
GO
ALTER TABLE [dbo].[Update_Customer]  WITH CHECK ADD  CONSTRAINT [FK__Update_Cu__updat__5165187F] FOREIGN KEY([update_by])
REFERENCES [dbo].[User] ([userId])
GO
ALTER TABLE [dbo].[Update_Customer] CHECK CONSTRAINT [FK__Update_Cu__updat__5165187F]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD FOREIGN KEY([role_id])
REFERENCES [dbo].[Role] ([role_id])
GO
